<h1 class="mt-4">Agregar producto</h1>
<hr>
<form [formGroup]="miFormulario">
    <div class="row g-3 align-item-center mb-3">
        <div class="col-auto">
            <label for="nombre" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
    </div>
    <div class="col-auto">
        <span error-msg [color]="color" [valido]="!tieneError('nombre')"></span>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="cambiarColor()">Cambiar color</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>

<strong>Value</strong>
<pre>{{ miFormulario.value | json }}</pre>

<strong>Valid</strong>
<pre>{{ miFormulario.valid }}</pre>

<strong>Touched</strong>
<pre>{{ miFormulario.touched }}</pre>

<strong>Campo nombre con error</strong>
<pre>{{ this.miFormulario.controls['nombre'].errors | json}}</pre>

