<h1 class="mt-4">Agregar producto</h1>
<hr>
<form>
    <div class="row g-3 align-item-center mb-3">
        <div class="col-auto">
            <label for="nombre" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="nombre">
        </div>
    </div>
    <div class="col-auto">
        <span class="form-text text-danger">Este campo es requerido</span>
    </div>
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>